# 安装 node
curl -sL https://rpm.nodesource.com/setup_16.x | sudo bash -
sudo yum install -y nodejs
node -v

# 安装 nginx
cd /etc/yum.repos.d/
cat > nginx.repo << EOF
[nginx]
name=nginx repo
baseurl=http://nginx.org/packages/centos/\$releasever/\$basearch/
gpgcheck=0
enabled=1
EOF

sudo yum install nginx

sudo systemctl start nginx
sudo systemctl enable nginx