mkdir /etc/nginx/logs
rm -rf /etc/nginx/conf/nginx.conf
rm -rf /etc/nginx/conf/conf.d/*
scp ./nginx.conf /etc/nginx
nginx -t
service nginx restart
cd ..
npm i -g pnpm pm2
pnpm i
pnpm build-only
cd service
pnpm i
scp .env.example .env
echo 请编辑 ./service/.env 中 secret 信息，并执行 pm2 start pm2.config.js